<body>
<div class="container">
    <br>
    <br>
    <h1 align="center">repositories</h1>
    <div class="forms">
        <form class="form">
            <label>
                <input id="fr" class="form-control" type="text" placeholder="search"[(ngModel)]="username" name="username" (keyup.enter)="profileUser()">
            </label>        
        </form>
    </div>
    <div  class="card"    *ngIf="profile">
        <div class="card-header">
            <h4 align="center" *ngIf="profile.name">{{profile.name}} </h4>
            <small align="center" >{{profile.login}}</small>
        </div>
        <div class="card-body">
            <div class="row" *ngFor ="let reposit of reposits , let i=index">
                <div class="col-md-4">
                <p>{{reposits[i].name}}</p> 
                </div>
                <div class="col-md-4">
                    <a href="{{reposits[i].html_url}}" target="_blanck"><button class="btn-inline btn-outline-info">view repo</button></a>
                </div>
                <div class="col-md-4">
                    <p>{{reposits[i].pushed_at| date:short:timezone}}</p>
                </div>
            </div>
        </div>   
    </div>
    <br>
    <br>
    
</div>
</body>



