<div class="container">
    <form action="">
        <label>
            <input type="text" placeholder="search"[(ngModel)]="username" name="username" (keyup.enter)="profileUser()">
        </label>
        <!-- <button type="submit"><img src="https://img.icons8.com/material/24/000000/search--v1.png"></button> -->
    </form>
</div>

<div *ngIf="profile">
    <p *ngIf="profile.name">{{profile.name}}</p>
    <p>{{profile.login}}</p>
    <img src="{{profile.avatar_url}}">
    <ul>
        <li *ngIf="profile.bio">{{profile.bio}}</li>
        <li *ngIf="profile.public_repos">number of repositories{{profile.public_repos}}</li>
        <li *ngIf="profile.followers">followers {{profile.followers}}</li>
        <li *ngIf="profile.following">following {{profile.following}}</li>
        <li *ngIf="profile.hireable">available for hire {{profile.hireable}}</li>
        <button><a href="{{profile.html_url}}" target="_blank">git prof</a></button>
    </ul>
</div>
    

